%h2= @list.name
=link_to 'Delete list', list_path(@list), :confirm => 'Are you sure?', :method => 'delete'

%h3 Users
%ul
  - @list.users.each do |usr|
    %li
      = usr.display_name
      = link_to 'X', delete_user_list_path(:id => @list.id, :user_id => usr.id), :class => 'remove_user_from_list'

%h3 Feed
%ul.feed
  = render :partial => 'items/item', :collection => ItemDecorator.decorate(@feed_items)

:javascript
  $('.remove_user_from_list').live('click',function(){
    var $this_li = $(this).parent('li');
    var url = $(this).attr("href");
    var user_id = url.split('=')[url.split('=').length-1];
    var $users_items = $(".feed input[type='hidden'][name='item_user_id'][value='"+user_id+"']").parent('li');
    $.ajax({
      type: 'POST',
      url: url,
      success: function(data){
        $this_li.remove();
        $users_items.remove();
      }
    });
    return false;
  });