.community-invite-form
  .section-heading
    Invite People
  %p
    So you've created a community, big deal.  A community is nothing without people!
  %p To invite people to your community, simply enter a list of Swidjit usernames or emails, separated by commas
  
  = form_tag community_invitations_path(:id => community.id, :city_url_name => current_city.url_name) do
    = text_field_tag :invitees, '', :size => 60
    = submit_tag 'Send Invite'