- if @feed_items.empty?
  %span.no-results No items found.
- else
  .feed.endless_scrolling
    = render @feed_items.decorated
    = render 'feeds/pageless', total_pages: @feed_items.total_pages, path_to_page: url_for(params.merge({:format => :js }))