:javascript
  $(document).ready(function(){
    $(".endless_scrolling").pageless({
      totalPages: #{total_pages.to_i}
      , url: '#{path_to_page}'
      , loaderMsg: ''
      , loaderImage: '/assets/load.gif'
      , container: ".endless_scrolling"
    });
  });
