%div
  %h1= @title

%div
  = tabbed_item_types('type')

- if @test_output.present?
  Familiar users in descending order
  %ul
    - @test_output.each do |usr|
      %li= usr.display_name

= render :partial => 'endless_scroll'