%h3
  Feed for
  = @feed_title

- if params[:tag_name].present?
  %div
    = tabbed_item_types('action')

- if @feed_items.count == 0
  %p No items found.
- else
  %ul
    = render :partial => 'items/item', :collection => ItemDecorator.decorate(@feed_items)