%div.contentRow.visible_overflow.without_border
  %div.title_heading.left.no-padding-top.right_padding_10= title
.clearAll
= render :partial => 'items/slim_event', :collection => ItemDecorator.decorate(events), :as => :item
