- if @user_events.present?
  %div.left{:style => 'width: 50%'}
    %div.contentRow.visible_overflow
      %div.title_heading.left.auto_width.right_padding_10 your events
      = render :partial => 'items/item', :collection => ItemDecorator.decorate(@user_events)

  %div.left{:style => 'width: 50%'}
    %div.contentRow.visible_overflow
      %div.title_heading.left.auto_width.right_padding_10 upcoming events
      = render :partial => 'events_with_navigation', :locals => { :events => @events }

- else
  %div.left{:style => 'width: 100%'}
    %div.contentRow.visible_overflow
      %div.title_heading.left.auto_width.right_padding_10 upcoming events
      = render :partial => 'events_with_navigation', :locals => { :events => @events }
