--- 
http_interactions: 
- request: 
    method: get
    uri: http://www.google.com/calendar/ical/ju6l13rier0b6t6cm8bn7r4fvo@group.calendar.google.com/public/basic.ics
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/calendar; charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "BEGIN:VCALENDAR\r\n\
        PRODID:-//Google Inc//Google Calendar 70.9054//EN\r\n\
        VERSION:2.0\r\n\
        CALSCALE:GREGORIAN\r\n\
        METHOD:PUBLISH\r\n\
        X-WR-CALNAME:Ithaca Children's Garden\r\n\
        X-WR-TIMEZONE:America/New_York\r\n\
        X-WR-CALDESC:\r\n\
        BEGIN:VTIMEZONE\r\n\
        TZID:America/New_York\r\n\
        X-LIC-LOCATION:America/New_York\r\n\
        BEGIN:DAYLIGHT\r\n\
        TZOFFSETFROM:-0500\r\n\
        TZOFFSETTO:-0400\r\n\
        TZNAME:EDT\r\n\
        DTSTART:19700308T020000\r\n\
        RRULE:FREQ=YEARLY;BYMONTH=3;BYDAY=2SU\r\n\
        END:DAYLIGHT\r\n\
        BEGIN:STANDARD\r\n\
        TZOFFSETFROM:-0400\r\n\
        TZOFFSETTO:-0500\r\n\
        TZNAME:EST\r\n\
        DTSTART:19701101T020000\r\n\
        RRULE:FREQ=YEARLY;BYMONTH=11;BYDAY=1SU\r\n\
        END:STANDARD\r\n\
        END:VTIMEZONE\r\n\
        BEGIN:VEVENT\r\n\
        DTSTART:<%= 5.days.from_now.strftime("%Y%m%d") %>T040000Z\r\n\
        DTEND:<%= 6.days.from_now.strftime("%Y%m%d") %>T080000Z\r\n\
        DTSTAMP:20120608T163118Z\r\n\
        UID:d1hu8i1r83a2k4r7shshi16mgg@google.com\r\n\
        ATTENDEE;CUTYPE=INDIVIDUAL;ROLE=REQ-PARTICIPANT;PARTSTAT=ACCEPTED;CN=Ithaca\r\n  Children's Garden;X-NUM-GUESTS=0:mailto:ju6l13rier0b6t6cm8bn7r4fvo@group.c\r\n alendar.google.com\r\n\
        CREATED:20120601T215837Z\r\n\
        DESCRIPTION:\r\n\
        LAST-MODIFIED:20120601T215918Z\r\n\
        LOCATION:\r\n\
        SEQUENCE:0\r\n\
        STATUS:CONFIRMED\r\n\
        SUMMARY:Playworker Orientation\r\n\
        TRANSP:OPAQUE\r\n\
        END:VEVENT\r\n\
        BEGIN:VEVENT\r\n\
        DTSTART:<%= 2.days.from_now.strftime("%Y%m%d") %>T120000Z\r\n\
        DTEND:<%= (2.days.from_now + 2.hours).strftime("%Y%m%d") %>T133000Z\r\n\
        DTSTAMP:20120608T163118Z\r\n\
        UID:cnmqc6fktlqb2set4ejnvuchts@google.com\r\n\
        CREATED:20120601T215908Z\r\n\
        DESCRIPTION:\r\n\
        LAST-MODIFIED:20120601T215908Z\r\n\
        EXDATE;TZID=America/New_York:20120704T100000\r\n\
        LOCATION:ICG\r\n\
        SEQUENCE:0\r\n\
        STATUS:CONFIRMED\r\n\
        SUMMARY:Playworker Training at ICG\r\n\
        TRANSP:OPAQUE\r\n\
        END:VEVENT\r\n\
        END:VCALENDAR\r\n"
  recorded_at: Fri, 08 Jun 2012 16:31:25 GMT
recorded_with: VCR 2.2.0
