.btn-group
  %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
    add to list
  %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
    %span.caret
  %ul.dropdown-menu
    - current_user.lists.each do |lst|
      %li
        = link_to lst.name, add_user_list_path(lst.id, :user_id => user.id), :method => :post
