.row-fluid    
  .span12
    %h2.page-heading
      %i.icon-question-sign        
      About Swidjit

.row-fluid    
  .span12
    %div{:style => "margin: 15px 0 10px 0"}
      %h4 overview
      %p Swidjit is a virtual community center for your city, dorm or neighborhood embedded with tools to help you buy, sell, share, trade, promote, discuss, curate, discover, and organize with the people around you.   It is a local, public network designed to provide you with unprecedented access to the goods, services,  experiences, people, information, and conversations  in your community.  First and foremost, it is a hub for the local economy (P2P commerce, collaborative consumption, small business), but as a community center, Swidjit will also serve as a nexus for local events, discussion, information, and networking.  It is a tool to to help you easily connect to everything you want or need in the place where you live. Essentially, Swidjit will serve as a community operating system that will transform the way we connect to the resources and opportunities around us.
    %div{:style => "margin: 15px 0 10px 0"}
      %h4 swidjit's DNA
      %p Swidjit is a social innovation that mixes together powerful web technologies and low-tech concepts like listservs, bulletin boards and directories into a single network that makes it incredibly easy to interact with local.  To arrive at an understanding of how Swidjit works, start by thinking about Facebook, but instead of interacting with friends and family members around the globe, imagine you are on the network with everyone else in your city, or in your apartment building.   Since it's a public network, you would use this tool not to share personal details, but rather to share what you have to offer, what you are looking for, and any other events, information, or comments relevant to your community. Swidjit allows the use of hashtags so that you can easily connect to #coffeeshops, #carsharing, #coolswimmingspots, or whatever else you want in your area, so now it bears resemblance to a locally-based Facebook-Twitter that you use for commerce and community information.  We will also incorporate a touch of Etsy/eBay so Swidjit can be used as a storefront and thereby better serve as an engine for the local economy.  To make sense of all this information, there are great tools (inspired by Wikipedia, Pinterest, and others) for organizing, curating, and co-creating information. It is a local, scalable hub for all public commerce, communication, and collaboration; perhaps what Craigslist could have become if they were more inclined to innovate.
    %div{:style => "margin: 15px 0 10px 0"}
      %h4 how to use it
      .row-fluid    
        .span4
          %div{:style => "background-color:#adc3d1; padding: 2px 9px;"}
            %h5 post (publicly, or to specififc groups)
            .ul
              .li -goods & services you have to sell/share/trade
              .li -goods and services you are looking for
              .li -events and activities
              .li -useful information and discussion-worthy ideas
        .span4
          %div{:style => "background-color:#adc3d1;padding: 2px 9px;"}
            %h5 explore (things others have posted)
            .ul
              .li -stumble across valuable local resources while exploring the site
              .li -browse recommended items or suggestions from friends
              .li -discover all the most popular and most interesting content
        .span4
          %div{:style => "background-color:#adc3d1;padding: 2px 9px;"}
            %h5 collect (all the valuable stuff you find)
            .ul
              .li -join communities around a specific topic
              .li -organize topics into custom feeds
              .li -sort related items into collections
              .li -bookmark anything interesting you find
    %div{:style => "margin: 15px 0 10px 0"}
      %h4 why swidjit?
      %p Somewhere along the arc of civilization’s ascent into modern times, we lost access to one of the powerful organizational and collaborative tools we’ve ever had: the community center.  This gathering place served as a nexus for local activity and the place where people connected in the meaningful ways that fueled the social and economic activity of villages and cities.
      %p This loss has not come without consequence.  Since we no longer have the infrastructure to connect and collaborate with our neighbors, we instead rely on a global system of production and distribution that is destroying planet and screwing people. Our inability to live locally is a threat to our lifestyle, to our security, to our future.  Moving forward, the only reasonable path is one that includes more local resilience through community innovation and collaboration.  
      %p That’s why we are building Swidjit. Swidjit is a virtual commons for your community - something we lost long ago, but technology can now return to us.  When we get back there,  extraordinary things will happen.