%p
  Q: Is there a cost to use the site?
  %br
  A: No, establishing an account is free and easy.  There are no monthly fees or charges to post.

%p
  Q: What personal information will you display?
  %br
  A: Protecting your privacy is very important to us.  However, we also want to cultivate a community of trust so we do require that you publicly display your name.  By default, this is the only information others will be able to find out about you unless you voluntarily provide additional public information.  Use of geo tags, which provide rough information about your location, is optional.  For more information, you may consult our privacy policy.

%p
  Q: What are tags, and how do I use them?
  %br
  A:  Tags are the central organizational tool for Swidjit. You may choose to add any number of tags to an item you post. Tags are great for helping people discover your content because you can click on them and view a feed of all the items containing that tag.  on Swidjit, there are actually three different ways that you can tag items. You can do it contextually within the description field of a post using the hash symbol (#exampletag), you can enter them separately in the tag input field, or you can choose from a selection of suggested tags for the type of content you’re adding.

%p
  Q: What are geo-tags, and why should I use them?
  %br
  A:  Geo-tags provide a little more information about your location within the community, without providing your exact address.  You can make them as specific or as general as you would like, or decide not to use them if you don’t want to divulge that info.  A geo-tag might consist of a neighborhood, a street name, an apartment complex, a dorm, or a school district.  Using these will allow you to find matches as close as possible to your residence, saving you time and energy.

%p
  Q: What are mentions and how do they work?
  %br
  A:  When adding an item, you may include a reference to another user’s account by using the @ symbol.  In the title field or the description field if you type @Swidjit, that will be converted to a hyperlink that will lead to Swidjit’s profile page.  You can browse a feed of all of your mentions and you also receive notice any time someone mentioned you in your notifications feed.

%p
  Q: What are offers and how to they work?
  %br
  A:  When you post a good or service, people in the community will have the opportunity to make an offer to acquire that item.  People may place offers for as long as they would like, there is no expiration for the listing (it will remain up there until you remove it).  These offers can be monetary ($75), barters for goods (a chest freezer), barters for services (2 60-minute massages), or a local currency (8 ithaca hours).  When you get an offer you like, it is on you to contact the bidder and finalize the deal.  By default, any registered user can bid on a public item.

%p
  Q: What are delegates and how do I assign them?
  %br
  A:  Delegates are great if you work for a business or organization and wish to assign permission to more than one person to use your account.  For instance, Swidjit might assign delegate status to our marketing team so that they can post content on behalf of Swidjit. You can assign delegates on your profile page. Once you are given permission to act on behalf of another account, any time you are adding an item you have the option to post as yourself or as any of the other entities you have permission to post as.  there is no limit to how many delegates you can have, or how many accounts you can be a delegate for.

%p
  Q: What should I do if I sell an item or want to otherwise remove an item from the listings?
  %br
  A:  On the item page, you have the option to deactivate the post.  This will prevent it from being listed on the site anywhere.  Existing links to that item will redirect to your profile.  At any time, you may reactivate these posts from your profile page (like in November when you want to start advertising your snow-shoveling services again).  you may also set a post deactivation date to have this happen automatically.

%p
  Q: What are collections?
  %br
  A:  On the item page, you have the option to deactivate the post.  This will prevent it from being listed on the site anywhere.  Existing links to that item will redirect to your profile.  At any time, you may reactivate these posts from your profile page (like in November when you want to start advertising your snow-shoveling services again).  you may also set a post deactivation date to have this happen automatically.

%p
  Q:  Who will be able to see my posts?
  %br
  A:  By default, all Swidjit posts are public and viewable to everyone within your city. However, you may choose to assign visibility to one or more smaller groups of people including lists or communities. If you remove public visibility and designate that only a specific list ( your friends for example) can see it, only the individuals on the list will be able to view the content you have added.  you can assign visibility when initially adding an item, or you may do it after the fact from the items page.

%p
  Q:  How do I make an offer for an item I see listed?
  %br
  A:  First of all, you must be registered and logged in. Then, go to the item’s page and click on the “make an offer” link provided below the post..  Enter the details of your offer and wait to hear back from the user who posted the item.  You can access your inbox of offers from the top menu bar.

%p
  Q: Is there any limit on how many items you can post?
  %br
  A: At the moment, there is no such limit.  Post as much as you would like.

%p
  Q: How long will my items remain on Swidjit?
  %br
  A: By default, the post will stay there for 15 days. When adding a new item, you may choose to make this period of time more or less. You may also deactivate a post at any time, or conversely, activate any post that is in draft mode. If your item is  something you wish to leave on Swidjit indefinitely, you may choose to set no expiration.

%p
  Q: How do I get more information about an item listed on Swidjit?
  %br
  A: Use the comments section to pose questions or seek clarification.

%p
  Q: Is Swidjit some sort of currency? How is it different than Ithaca hours?
  %br
  A:  No, Swidjit is not a currency. It is a locally-based social network to help you connect to goods, services, information, people, and other resources in your community.  You can use it to find people to buy, sell, trade, swap, share with but Swidjit is not a currency to use nor a platform to exchange other currencies.
