.row-fluid    
  .span12
    %h2.page-heading
      %i.icon-question-sign        
      Swidjit FAQ
    %div{:style => "clear:both; padding-top: 15px"}
      .ul
        .li 
          %a{:href => "#Q1"} How do I add a product, service, event, or thought to Swidjit?
        .li 
          %a{:href => "#Q2"} What sort of stuff should I post?
        .li 
          %a{:href => "#Q3"} How do I keep track of something cool when I find it?
        .li 
          %a{:href => "#Q4"} What personal information will you display?
        .li 
          %a{:href => "#Q5"} What are tags and why are they so important?
        .li 
          %a{:href => "#Q6"} What are geo-tags, and why should I use them?
        .li 
          %a{:href => "#Q7"} What should I do if I sell an item or want to otherwise remove an item from the listings?
        .li 
          %a{:href => "#Q8"} Who will be able to see my posts?
        .li 
          %a{:href => "#Q9"} How do I make an offer for an item I see listed?
        .li 
          %a{:href => "#Q10"} Is there any limit on how many items you can post?
        .li 
          %a{:href => "#Q11"}  How long will my items remain on Swidjit?
        .li 
          %a{:href => "#Q12"} How do I get more information about an item listed on Swidjit?
        .li 
          %a{:href => "#Q13"} Is Swidjit some sort of currency? How is it different than Ithaca hours?
        .li 
          %a{:href => "#Q14"} Why use Swidjit when Facebook works so well?
        .li 
          %a{:href => "#Q15"} Isn’t this what craigslist already does?

               
        
    %a{:name => "Q1"}
    .faq
      Q: How do I add a product, service, event, or thought to Swidjit?
    %p A: Just click on the appropriate item type on the add item bar and you will see a form to collect information on the item.  You only need fill out the description (as long or short as you would like) and any required information for that specific item type (cost, location, etc).  Click the “Post” button to submit it.
    %a{:name => "Q2"}
    .faq
      Q: What sort of stuff should I post?
    %p A: Anything you think others in your town, neighborhood, campus, dorm, street, city or other local community would be interested in knowing about.  This might include any product/service you are looking for, anything you are looking to acquire, any interesting events or activities happening, any useful news, announcements, or other local info, or anything you want to discuss with the people around you.
    %a{:name => "Q3"}
    .faq
      Q: How do I keep track of something cool when I find it?
    %p A: There are a few ways.  You can bookmark anything on the site - any item, tag, profile, community, location - so that’s one easy way to keep track of stuff.  If you want to organize a bunch of related info, you can create a collection (“gardening resources”) and populate it with relevant info you come across.  
    %a{:name => "Q4"}
    .faq
      Q: What personal information will you display?
    %p A: Protecting your privacy is very important to us.  However, we also want to cultivate a community of trust so we do require that you publicly display your name name (we will provide a way to turn this off, but it will disqualify you from establishing certain trust metrics).  By default, this is the only information others will be able to find out about you unless you voluntarily provide additional public information.  Use of geo tags, which provide rough information about your location, is optional.
    %a{:name => "Q5"}
    .faq
      Q: What are tags and why are they so important?
    %p A: Tags are one of the fundamental organizational structures of Swidjit and your experience will be far greater if you take a moment to equate yourself.  A tag is essentially like a marker inside a post that relates it to a specific idea. They are kind of like keywords.  They are really powerful tools to help more people discover your posts as well as for you to discover new stuff.  You can add them free-form in any post by using the pound sign (“the clinton street bridge reopens tomorrow! #trafficupdates #greatnews”) or add them through a form which will suggest as you type.  You can then click on any tag and see all the other items that contain that same marker.

    %a{:name => "Q6"}
    .faq
      Q: What are geo-tags, and why should I use them?
    %p A: Geo-Tags provide a little more information about your location within the community, without providing your exact address.  You can make them as specific or as general as you would like, or decide not to use them if you don’t want to divulge that info.  A geo-tag might consist of a neighborhood, a street name, an apartment complex, a dorm, or a school district.  Using these will allow you to find matches as close as possible to your residence, saving you time and energy.

    %a{:name => "Q7"}
    .faq
      Q: What should I do if I sell an item or want to otherwise remove an item from the listings?
    %p A: On the item page, you have the option to deactivate the post.  This will prevent it from being listed on the site anywhere, although it will still exist in your message drafts if you want to use it again at a later date.  Existing links to that item will redirect to your profile.  At any time, you may reactivate these posts from your profile page (like in November when you want to start advertising your snow-shoveling services again).  You may also set a post deactivation date to have this happen automatically.  If you think you will never need an item again you may also delete it permanently. 

    %a{:name => "Q8"}
    .faq
      Q: Who will be able to see my posts?
    %p A: By default, all Swidjit posts are public and viewable to everyone within your city. However, you may choose to assign visibility to one or more smaller groups of people including lists or communities. If you remove public visibility and designate that only a specific list ( your friends for example) can see it, only the individuals on the list will be able to view the content you have added.  You can assign visibility when initially adding an item, or you may do it after the fact from the item’s page.

    %a{:name => "Q9"}
    .faq
      Q: How do I make an offer for an item I see listed?
    %p A: First of all, you must be registered and logged in. Then, go to the item’s page and contact the item’s owner through a  “private message” below the post content.  Enter the details of your offer and wait to hear back from the user who posted the item.  Later, you can access this communication through your inbox on the menu bar, or see it on the item page.

    %a{:name => "Q10"}
    .faq
      Q: Is there any limit on how many items you can post?
    %p A: At the moment, there is no such limit.  Post as much as you would like, just try to keep it useful and relevant.
    %a{:name => "Q11"}
    .faq
      Q: How long will my items remain on Swidjit?
    %p A: By default, the post will stay there for 20 days. When adding a new item, you may choose to make this period of time more or less. You may also deactivate a post at any time, or conversely, activate any post that is in draft mode. If your item is  something you wish to leave on Swidjit indefinitely, you may choose to set no expiration.

    %a{:name => "Q12"}
    .faq
      Q: How do I get more information about an item listed on Swidjit?
    %p A: Use the comments section to pose questions or seek clarification.  Or, use the private message functionality if you don’t want to inquire publicly.

    %a{:name => "Q13"}
    .faq
      Q: Is Swidjit some sort of currency? How is it different than Ithaca hours?
    %p A: No, Swidjit is not a currency. It is a locally-based social network to help you connect to goods, services, information, people, and other resources in your community.  You can use it to find people to buy, sell, trade, swap, share with but Swidjit is not a currency to use nor a platform to exchange other currencies

    %a{:name => "Q14"}
    .faq
      Q: Why use Swidjit when Facebook works so well?
    %p A: Well actually it doesn’t work as well as it could, and Swidjit aims to improve on many of Facebook’s limitations.  Swidjit is a local, public network (which makes it more effective as a marketplace than a private, global social network).  Swidjit has powerful tools for organizing and discovering useful content.  Swidjit will not be mining your data and selling it to advertisers or otherwise divulging it to people in ways you don’t understand.  Swidjit is a tool to make things happen (as opposed to socializing).

    %a{:name => "Q15"}
    .faq
      Q: Isn’t this what craigslist already does?
    %p A: Swidjit aims to do more than craigslist and to do it better.  Craigslist is an anonymous bulletin board that is not mobile, social, collaborative, organized or very friendly, which makes it much less effective than it could be.  Swidjit represents a technological and conceptual leapfrog over this archaic website.

