%h3 Personal Info
%P It is not Swidjit’s intent to collect sensitive or personal information from you. However, in order to foster a connected and trustworthy community, we will ask you to provide your first and last name, which will be publicly visible and displayed alongside any post you choose to broadcast publicly. We are not concerned with your birthdate, cell phone number or relationship status.

%h3 Email Address
%p We will also ask you for a valid email address so that you may be contacted when you receive a friendship request or someone makes a an offer on one of your items. We will not display this email address publicly unless you specifically request to do so. We will not provide this e-mail address to any third party.

%h3 Location
%p If you are running a physical business or have a home-based operation, you may want to display your address. In that case, there is an optional field to enter a street address when registering or editing your profile. Additionally, you will have the option of using geo-tagging, which is a tool to help organize listings by neighborhood, dormitory or street. You can be as general (“downtown”) or specific (“Balch Hall, 5th floor”) as you wish, or you may leave this field empty if you do not want to provide any geographic information about your whereabouts.

%h3 Profile Pic
%p In general, Swidjit is not a place for sharing personal photographs. However, we do allow user to provide a picture to personalize their profile. This could be a head-shot, your logo, a photo of a tree, or nothing at all. Just be aware that your picture is public.

%h3 Guarding your information
%p Swidjit will not sell or otherwise share your contact information with third parties. We will take the steps within our power to prevent any breaches of data. Ideally, we would like to keep you in control of who sees your information.
%p However, we also emphasize that accidents do happen in spite of attempts to prevent them. That is why we encourage you to think of Swidjit as a public forum and realize that anything you post or say here could eventually fall into the hands of someone other than your original audience. Really, this is true of any website, no matter how secure; the web is not a great place to try to do something in private, and Swidjit is no exception to this.

%h3 Rights to your content
%p Swidjit reserves the right to publish anything you contribute to the site, whether it be an event listing, a thought about local politics, or a photo of your house. However, Swidjit’s use of your content ends there and we do not assume ownership of any material you provide. 

