test:
  S3_BUCKET: ""
  S3_KEY: ""
  S3_SECRET: ""
  FB_APP_ID: ""
  FB_SECRET_KEY: ""

development:
  S3_BUCKET: ""
  S3_KEY: ""
  S3_SECRET: ""
  FB_APP_ID: ""
  FB_SECRET_KEY: ""

staging:
  S3_BUCKET: ""
  S3_KEY: ""
  S3_SECRET: ""
  FB_APP_ID: ""
  FB_SECRET_KEY: ""

production:
  S3_BUCKET: ""
  S3_KEY: ""
  S3_SECRET: ""