test:
  S3_BUCKET: ""
  S3_KEY: ""
  S3_SECRET: ""

development:
  S3_BUCKET: ""
  S3_KEY: ""
  S3_SECRET: ""

staging:
  S3_BUCKET: ""
  S3_KEY: ""
  S3_SECRET: ""

production:
  S3_BUCKET: ""
  S3_KEY: ""
  S3_SECRET: ""