- events.group_by(&:date).each do |date, group|
  .calendar-day
    .day-header
      .month= date.to_time.strftime("%b")
      .day= date.to_time.strftime("%d")
    - group.each do |item|
      = render 'calendars/item', item: item
