%h2 Messages

- @offers.group_by(&:item).each do |item, offers|
  .message-item.clearfix
    .message-item-name
      -if item.user_id == current_user.id
        =image_tag "itemIcon1.png"
      = item.title
    .message-item-threads
      - offers.each do |offer|
        %a{:href => offer_path(offer), :class => 'message-thread'}
          Message with
          - if offer.user_id == current_user.id
            = item.user.display_name
          - else
            = offer.user.display_name
        -#%span.right= link_to image_tag('x_button.png'), offer_path(offer), :method => :delete
- if @offers.count < 1
  You have no messages