.btn-group
  %button.btn 
    collect
  %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
    %span.caret
  %ul.dropdown-menu
    - current_user.collections.each do |col|
      - if col.items.map(&:id).exclude?(item.id)
        %li
          = link_to col.title, add_item_collection_path(col, {:item_id => item.id}), {:method => :post}
