%ul.menu_with_dropdowns.no_top_margin
  %li
    %a{:href => "#", :onclick => "return false", :class => 'iconLink5'}
      = image_tag 'arrowDN.png'
    %div.dropdown_1column.align_right1
      - current_user.collections.each do |col|
        - if col.items.map(&:id).exclude?(item.id)
          %div.col_1
            = link_to col.title, add_item_collection_path(col, {:item_id => item.id}), {:method => :post}
  