.item-box.clearfix
  - if item.user.present? && item.user.id.present?
    %input{:type=>'hidden',:value=>item.user.id, :name => 'item_user_id'}
  .item-title
    = link_to item.short_title, item
  .item-pic
    = item.thumb
  .item-info
    .item-desc= item.short_description
    - if item.user.present?
      .item-owner
        post by
        = link_to item.user.display_name, profile_path(item.user.display_name)