.btn-group
  %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
    admin
  %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
    %span.caret
  %ul.dropdown-menu
    - links.each do |link|
      %li
        = link.html_safe
