= f.semantic_errors
= f.inputs :class => 'title_box' do
  = f.input :description, :as => :text, :input_html => {:class => 'user-suggestion item_description comnt'}
  %li.label
    %label Title
  = f.input :title, :input_html => {:class => 'user-suggestion item_title', :autocomplete => :off}
