/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery-ui-1.8.9.custom
*/


html{ height:100%; }
body {
  height:100%;
  background-color: #075a8e;
  font-size: 13px;
  font-family: Arial, SunSans-Regular, Sans-Serif;
  color:#564b47;  
  padding:0 0px;
  margin:0;
}

/*  positioning-colums */
#container {
  width:100%;
  height:100%;
}
#menu {
  float:left;
  width: 225px;
  height:100%;
  left: 0px;
  background-color: #075a8e;
  padding:0;
  margin:0;
}
#content {
  height:100%;
  margin-left:225px;
  background-color:#e1e6e9;
}

.logo {
  padding:10px 0 0 10px;
}


.hidden {
  display: none;
}

#add_item_button {
  background: url("addBtn.png") no-repeat scroll 0 0 transparent;
    color: #5F8095;
    display: block;
    float: left;
    font-size: 14px;
    height: 17px;
    margin: 5px 0 0 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-indent: 30px;
}
#add_item_button:hover {
  background-position:0px -27px;
}

/* styles for auto.js */
ul.auto-list{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid green;
  background-color: #A3DF99;
  padding: 0;
  margin:0;
  list-style:none;
}
ul.auto-list > li:hover,
ul.auto-list > li[data-selected=true]{
  background-color: #236574;
}

ul.auto-list > li{
  border: 1px solid gray;
  cursor: default;
  padding: 2px;

}

mark{
  font-weight: bold;
}


.menu_with_dropdowns li {
  padding: 0px 3px;
}
