/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui-1.8.9.custom
 *= require_tree .
*/


html{ height:100%; }
body {
  height:100%;
  background-color: #075a8e;
  font-size: 13px;
  font-family: Arial, SunSans-Regular, Sans-Serif;
  color:#564b47;
  padding:0 0px;
  margin:0;
}

a, a:hover, a:visited {
  color: #30749F;
}

fieldset {
  border: none;
  padding: 0px;
}

/*  positioning-colums */
#container {
  width:100%;
  height:100%;
}
#menu {
  float:left;
  width: 225px;
  height:100%;
  left: 0px;
  background-color: #075a8e;
  padding:0;
  margin:0;
}
#content {
  margin-left:225px;
  background-color:#DAE0E4;
  height: 100%;
}

.logo {
  padding:10px 0 0 10px;
}

.hidden {
  display: none;
}

#add_item_button {
  background: url("add-item-btn.png") no-repeat scroll 0 0 transparent;
  color: #333;
  display: block;
  float: left;
  height: 17px;
  margin: 8px 0 0 10px;
  padding: 5px 10px;
  width: 165px;
}

#new_list input {
  display: inline;
}

#new_list input[type='text']{
  width: 80px;
}
input.item_title {
  width: 496px;
}

.toggle-user-edit img {
  margin: 3px;
}

.contentRow.user_edit {
  margin-bottom: 10px;
  padding-top: 0px;
}

ul.tokenized {
  padding: 8px;
  margin: 0px;
}

ul.tokenized li {
  display: inline-block;
  padding: 4px 10px;
  border: 1px solid #AAAAAA;
  margin: 0px 3px;
}

ul.tokenized li.add_token {
  background-color: white;
}

ul.tokenized li.add_token input {
  border: none;
  background-color: transparent;
}

/* styles for auto.js */
ul.auto-list{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0;
  margin:0;
  list-style:none;
}

ul.auto-list > li{
  border: 1px solid gray;
  cursor: default;
  padding: 2px;

}

mark{
  font-weight: bold;
  background-color: #eee;
}


.menu_with_dropdowns li {
  padding: 0px 3px;
}

.left {
  float: left;
}
.text-right {
  text-align: right;
}
.center {
  text-align: center;
}

.comment_block textarea, .offer_reply_form textarea {
  height: 50px;
  width: 100%;
}

.menu_with_dropdowns .dropdown_1column {
  z-index: 50;
}
.offer_container {
  padding-top: 5px;
}

.accordian_offer_heading {
  float: left;
  font-size: 14px;
  line-height: 9px;
  padding-left: 10px;
  padding-bottom: 15px;
}



.notice, .success, .alert {
  clear: both;
  padding: 8px 35px 8px 14px;
  margin: 10px 0;
  display: inline-block;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
}
.success, .notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.danger,
.error,
.alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.img_info .fb-like, .multiLinks .fb-like {
  float: left;
}

.thumbnail.loading { height:25px; width:25px; background: url('load.gif') no-repeat center center; }
.thumbnail.loading img { display: none; }

.mainContent div .title_heading {
  padding-top: 0px;
}

.current_city {
  float: left;
  color: white;
  display: inline-block;
  margin: 15px 5px;
}


.right { float: right; }
.left { float: left; }
.clear { clear: both; }

.right-margin { margin-right: 8px; }

.no-text-dec {
  text-decoration: none;
}

div.overflow-visible, .overflow-visible {
  overflow: visible;
}

div.clearAll {
  clear: both;
}
