ul.token-input-list-facebook, ul.auto-list, ul.ui-autocomplete {
  overflow: hidden;
  height: auto !important;
  border: 1px solid #536068;
  cursor: text;
  font-size: 12px;
  min-height: 1px;
  z-index: 999;
  margin: 0;
  padding: 0;
  background-color: #fff;
  list-style-type: none;
  clear: left;
  margin-top: 15px;

  li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    -webkit-appearance: caret;
  }
}

li.token-input-token-facebook {
  overflow: hidden;
  height: auto !important;
  height: 18px;
  margin: 3px;
  padding: 1px 3px;
  cursor: default;
  font-size: 14px;
  float: left;
  white-space: nowrap;
  background-color:#788994;
  border:1px solid #536068;
  text-align:center;
  color:#ffffff;

  p {
    display: inline;
    padding: 0;
    margin: 0;
  }

  span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
  }
}

li.token-input-selected-token-facebook,
ul.auto-list > li:hover,
ul.auto-list > li[data-selected=true],
ul.ui-autocomplete .ui-state-hover {
    background-color: #075A8E;
    border-color: #536068;
    color: #fff;
}

li.token-input-input-token-facebook {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.item_form {

  input, textarea {
    color: #000;
  }

  label.label, legend.label {
    display: none;
  }

  fieldset.inputs {
    padding: 15px 0px;
  }

  input[type='submit'] {
    margin-top: 10px;
  }

  ul, ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  li.label {
    padding-top: 10px;
  }

  .title_box {
    padding-top: 0px;
  }

  .extra_inform_box {
    select {
      margin-top: 10px;
    }
  }

  .preset_geo_tag, .preset_tag {
    cursor: pointer;
    color: #eee;
  }

  .posting_box {
    ol {
      li {
        display: inline;
      }
    }
  }

 .vis_label {
    margin: 0px;
    margin-right: 15px;
    padding: 0px;
    float: left;
  }

}

div.token-input-dropdown-facebook {
  position: absolute;
  width: 400px;
  background-color: #fff;
  overflow: hidden;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor: default;
  font-size: 14px;
  z-index: 1;

  p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      background-color: #fff;
      padding: 3px;
      margin: 0;
      list-style-type: none;

      &.token-input-dropdown-item-facebook, &.token-input-dropdown-item2-facebook {
        background-color: #fff;
      }

      em {
        font-weight: bold;
        font-style: normal;
      }

      &.token-input-selected-dropdown-item-facebook {
        background-color: #536068;
        color: #fff;
      }
    }
  }
}


#event_end_date_input, #event_end_time_input {
    display:none;
}

.rule {
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:1px solid #fff;
}