ul.two_col_mid {
  padding: 0px;
  padding-bottom: 10px;

  li {
    float:left;
    display:block;
  }

  li:nth-child(odd) {
    clear: left;
    text-align: right;
    width: 100px;
    margin-right: 10px;
  }
}

.itemPic {

  img {
    margin-top: 7px;
    max-width: 80px;
  }

  &.wide {
    width: 160px;

    img {
      max-width: 150px;
    }
  }

  .title_heading {
    padding: 0px;
  }
}



.itemInfo {

  padding-left: 170px;

  .vis_label {
    display: none;
  }

  .menu_with_dropdowns {
    margin: 0px;
  }

  .visiRow {
    border: none;

    .item_visibility {
      border: 1px solid #eee;
      border-width: 2px 0px;
      padding-top: 4px;
      min-height: 34px;
    }
  }
}

.itemSlim {
  padding: 0px 0px 5px 10px;
}

.itemDesc {
  font-size: 15px;
}

.title_heading {
  font-size:18px;
  color:#88068e;
  padding: 10px 0 10px 10px;
  font-weight:bold;

  a, a:hover {
    color:#88068e;
    text-decoration: none;
  }
}
.extra_links a {
  color: #ffffff;
  font-size: 12px;
}
.home_menu {
  list-style: none;
  float: left;
}
.home_menu li {
  float: left;
  display: block;
  padding: 8px 15px 0 0;
}

.container_heading h3 {
  font-size: 18px;
}

#search {
  float: left;
  margin: 7px 10px;

  input {
    padding: 2px 5px;
    font-size: 1em;
    color: #000;
  }

  input[type='text'] {
    width: 220px;
  }
}

.itemTitle, .multiLinks {
  overflow: hidden;

  .no_break_hide {
    width: 5000px;
  }
}
#category_search_submit
{
  border:none;
  border-width:0px;
  border-style:solid;
  background: transparent url('magnifying_glass.png') center no-repeat;
  text-indent: -9000px;
  text-transform: capitalize;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
#category_search_wrapper {
  margin-top: 9px;
  
  
  .input {
    font-size: 15px;
  }
}
.filter_wrapper {
  font-size: 17px;
  width: 100%;
  margin: 0px 8px;
}

.tag_cloud
{
  width: 100%;
  padding: 7px;
  background: #ADC3D1;
  border: 1px solid white;

  a
  {
    text-decoration:none;
  }
}
.tabbed_types_wrapper
{
  display:inline;
}
.tabbed_types {
  margin: 0;
  padding: 0;
  list-style: none;
  display:inline;

  li {
    display: inline;
    padding: 0px;
    margin: 0px;

    a {
      text-decoration: none;
      margin: 0px;
      border-left: none;
      text-transform:lowercase;
    }

    a:hover {
      background-color: #ADC3D1;
    }
  }
}

.add_item_row.logged_out {
  padding-left: 10px;
  font-size: 15px;
  line-height: 35px;
}

#socialmedia_icons {
  margin: 5px auto;
  text-align: center;
}

.mainContentWrap {
  position: absolute;
  left: 225px;
  top: 82px;
  bottom: 0px;
  right: 0px;
  overflow: auto;
}

.dropdown_1column.wide {
	width: 160px;
}

#menu {
  #menuInnerWrapper {
    overflow: auto;
    position: absolute;
    top: 61px;
    bottom: 0px;
    left: 0px;
    width: 225px;
  }
}

.inline_menu_with_dropdowns {
  position:relative;
  display: inline-block;
  margin: 0px;
  padding: 0px;

  .dropdown_1column {
    z-index: 50;
  }

  li {
    display:inline-block;
    position:relative;
    border:none;
    width:auto;

    a {
      display:block;
      outline:0;
      text-decoration:none;
      color:#30749F;
    }

    div {
      a, a:visited, a:link {
        color: white;
      }
    }

    .drop {
      padding-right:0px;
    }
  }

  li:hover {
    .dropdown_1column,  .dropdown_2columns,  .dropdown_3columns,
    .dropdown_4columns, .drop_arrow_left, .dropdown_5columns {
      left:-1px;
      top:auto;
    }
  }
}

.cal_lower_nav {
  float: left;
  margin-top: 20px;
}

.top_errors {
  margin: 10px;
  width: auto;
  padding: 8px;
}

.calendar-item {
    position:relative;
    background:#E1E7EC;
    padding:10px 0px 10px 10px;
    margin-bottom:10px;
    min-height:48px;
    h3 {
        margin-top:0;
    }
    p {
        margin-bottom:0;
    }
    .itemIcons {
        background:#E1E7EC;
    }
}

.calendar-column {
    width:48%;
}
.calendar-day {
    margin-bottom:40px;
    h2 {
        float:left;
        width:60px;
        margin-top:0;
        border:3px solid #075A8E;
        line-height:auto;
        text-align:center;
        div {
            padding:5px 0;
        }
        .month {
            color:white;
            background:#075A8E;
        }
        .day {
            color: #075A8E;
        }
    }
    .calendar-item {
        margin-left:80px;
    }
}
.calendar-week-links-top {
    float:right;
    font-size:150%;
    margin-right:40px;
    margin-top:-60px;
    a {
        text-decoration:none;
        &:hover {
            text-decoration:underline;
        }
    }
    p {
        font-size:75%;
    }
}
.cal_lower_nav {
    margin-bottom:20px;
    form {
        display:inline;
        margin-left:30px;
    }
}

.placeholder {
  color: #aaa;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
