ul.two_col_mid {
  padding: 0px;
  padding-bottom: 10px;

  li {
    float:left;
    display:block;
  }

  li:nth-child(odd) {
    clear: left;
    text-align: right;
    width: 100px;
    margin-right: 10px;
  }
}

.itemPic {

  img {
    margin-top: 7px;
    max-width: 80px;
  }

  &.wide {
    width: 160px;

    img {
      max-width: 150px;
    }
  }

  .title_heading {
    padding: 0px;
  }
}



.itemInfo {



  .vis_label {
    display: none;
  }

  .menu_with_dropdowns {
    margin: 0px;
  }

  .visiRow {
    border: none;

    .item_visibility {
      border: 1px solid #eee;
      border-width: 2px 0px;
      padding-top: 4px;
      min-height: 34px;
    }
  }
}

.itemSlim {
  padding: 0px 0px 5px 10px;
}

.itemDesc {
  font-size: 15px;
padding-right: 10px;
}

.title_heading {
  font-size:18px;
  color:#88068e;
  padding: 10px 0 10px 10px;
  font-weight:bold;

  a, a:hover {
    color:#88068e;
    text-decoration: none;
  }
}

.title_sub_heading {
  font-size:14px;
  color:#bbb;
  margin: 3px 0 0 15px;
  float: left;

}

.extra_links a {
  color: #ffffff;
  font-size: 12px;
}
.home_menu {
  list-style: none;
  float: left;
}
.home_menu li {
  float: left;
  display: block;
  padding: 8px 15px 0 0;
}

.container_heading h3 {
  font-size: 18px;
}

#search {
	padding: 0px;
	margin: 13px 0 0 0;
}
#search_input { 
   padding: 4px; 
   font-size: 1em; 
   line-height: 20px;
float:left;
margin: 0px;
}
#search_button { 
   /* image replacement */
   text-indent: -99999px; 
   width: 30px; 
   height: 31px;
margin: 0px 0px 0 -2px;
   display: block;
   background: #adc3d1 url(https://s3.amazonaws.com/swidjit-prod/images/search.png) 0 0 no-repeat;
float:left;
border-width: 2px 2px 2px 0px;
padding-bottom: 3px;
border-color: #ddd;


   /* placing next to input using float or absolute positioning omitted ... */
}

.itemTitle, .multiLinks {
  overflow: hidden;

  .no_break_hide {
    width: 5000px;
  }
}
#category_search {
	font-size: 1em;
}
#category_search_submit
{
  border:none;
  border-width:0px;
  border-style:solid;
  background: transparent url('magnifying_glass.png') center no-repeat;
  text-indent: -9000px;
  text-transform: capitalize;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
#category_search_wrapper {
  margin-top: 9px;
  
  
  .input {
    font-size: 15px;
  }
}
.filter_wrapper {
  font-size: 17px;
  width: 100%;
  margin: 8px 8px 0 0;
}

.tag_cloud
{
  width: 98%;
  background: #ADC3D1;
  border: 1px solid white;
padding: 5px;
  a
  {
    text-decoration:none;
  }
}
.tabbed_types_wrapper
{
  display:inline;
}
.tabbed_types {
  margin: 0;
  padding: 0;
  list-style: none;
  display:inline;

  li {
    display: inline;
    padding: 0px;
    margin: 0px;

    a {
      text-decoration: none;
      margin: 0px;
      border-left: none;
      text-transform:lowercase;
    }

    a:hover {
      background-color: #ADC3D1;
    }
  }
}

.add_item_row.logged_out {
  padding-left: 10px;
  font-size: 15px;
  line-height: 35px;
}

.profile_info {
	margin: 5px;
	
	background-color: white;
	float: left;
}
.profile_info_pic {
	float: left;
	padding: 0 7px 0 18px;
	width: 60px;
	height: 50px;
}
.profile_info_name {
	float: left;
	font-size: 13px;
	width: 120px;
}

#socialmedia_icons {
  margin: 1px auto;
  text-align: center;
background-color: #07446a;
padding: 15px 0;
}

.mainContentWrap {
  position: absolute;
  left: 225px;
  top: 102px;
  bottom: 0px;
  right: 0px;
  overflow: auto;
  background-color: #fff;
}

.dropdown_1column.wide {
	width: 160px;
}

#menu {
  #menuInnerWrapper {
    overflow: auto;
    position: absolute;
    top: 61px;
    bottom: 0px;
    left: 0px;
    width: 225px;
  }
}

.inline_menu_with_dropdowns {
  position:relative;
  display: inline-block;
  margin: 0px;
  padding: 0px;

  .dropdown_1column {
    z-index: 50;
  }

  li {
    display:inline-block;
    position:relative;
    border:none;
    width:auto;

    a {
      display:block;
      outline:0;
      text-decoration:none;
      color:#30749F;
    }

    div {
      a, a:visited, a:link {
        color: white;
      }
    }

    .drop {
      padding-right:0px;
    }
  }

  li:hover {
    .dropdown_1column,  .dropdown_2columns,  .dropdown_3columns,
    .dropdown_4columns, .drop_arrow_left, .dropdown_5columns {
      left:-1px;
      top:auto;
    }
  }
}

.cal_lower_nav {
  float: left;
  margin-top: 20px;
}

.top_errors {
  margin: 10px;
  width: auto;
  padding: 8px;
}

.calendar-item {
    position:relative;
    padding:10px 0px 10px 10px;
    margin-bottom:10px;
    min-height:48px;
    h3 {
        margin-top:0;
    }
    p {
        margin-bottom:0;
    }
    .itemIcons {

    }
}


.calendar-column {
    width:48%;
}
.calendar-day {
    margin-bottom:25px;
    h2 {
        float:left;
        width:35px;
        margin-top:0;
        border:3px solid #075A8E;
        line-height:15px;
        text-align:center;
		font-size: 17px;
        div {
            padding:5px 0;
        }
        .month {
            color:white;
            background:#075A8E;
        }
        .day {
            color: #075A8E;
        }
    }
	h3 {
		font-size: 15px;
		line-height: 20px;
	}
    .calendar-item {
        margin-left:80px;
    }
}
.calendar-week-links-top {
    float:right;
    font-size:150%;
    margin-right:40px;
    margin-top:-60px;
    a {
        text-decoration:none;
        &:hover {
            text-decoration:underline;
        }
    }
    p {
        font-size:75%;
    }
}
.cal_lower_nav {
    margin-bottom:20px;
    form {
        display:inline;
        margin-left:30px;
    }
}

.placeholder {
  color: #aaa;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/* for communities pages */

.headingLeft {
  width: 80%;
  float:left;
  margin-top: 6px;
}
.headingRight {
  width: 20%;
  float:right;
  text-align: right;
  margin-top: 15px;
}
.headingRight ul {
  list-style-type: none;
  float:left;
}
.mainContent {

  border: 0px;
}
.indent {
  margin-left: 17px;
  font-size: 15px;
}

.mainDesc {
  margin: 14px 0;
background-color: #eee;
padding: 5px;
}

h2.page-heading {
  font-size:23px;
  margin: 10px 0 0px 0px;
	color:#88068e;
  font-weight:bold;
  float: left;
padding: 0px;
line-height:20px;


}
h2.page-heading i {
  font-size:23px;
  margin-right: 10px;
margin-top: 2px;
color: #000;

}

.page_sub_heading {
  font-size:14px;
  color:#bbb;
  margin: 0px 0 0 33px;
  float: left;

}

.communityList {
  margin: 10px 20px 0 25px;
  background-color: #eee;
  padding: 4px;
  width: 90%
}

.communityList .right_col {
  float:left;
  width: 20%;
  text-align: right;
}

.communityList .left_col {
  float:left;
  width: 80%;
}

.addFormText {
  font-size: 14px;
  margin: 7px 0 8px 5px;
  color:#000;
}

.notification {
	font-size: 17px;
	font-color: black;
	width: 120px;
	padding: 0px;
	margin-left: 7px;
}

div.slider {
 width:256px;
 margin:10px 0;
 background-color:#ccc;
 height:10px;
 position: relative;
}
 
div.slider div.handle {
 width:10px;
 height:15px;
 background-color:#f00;
 cursor:move;
 position: absolute;
}


#community-form {
	width: 60%;
	background-color:#adc3d1;
	ol {
		list-style: none;
		margin-left:7px;
	}
	label {
		color: #000;
		font: 15px 'Dosis', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		background-color:#adc3d1;
	}
	input[type="text"], textarea {
		width: 90%;
	}
	input[type="submit"] {
		margin-top: 8px;
		margin-left: 5px;
	}
	textarea {
		height: 70px;
		width: 90%;
	}
	fieldset {
		padding: 0px;
	}
	margin-left:15px;
	padding: 10px 5px;
	
	.form-title {
		margin: 5px 0 15px 0;
		font-size: 17px;
	}
	.form-section-break {
		border-bottom: solid white 1px;
		margin: 9px 0;
	}
	
	.inline-hints {
		color:#88068e;
	}
}

.section-heading {
	color:#88068e;
	font-size: 1.2em;
	margin: 14px 0 6px 0;
}


.feature-text {
	font-size: 16px;
	line-height: 28px;
}

.user_edit {
	input {
		line-height:20px;
		height: 25px;
	}
}

