ul.two_col_mid {
  padding: 0px;
  padding-bottom: 10px;

  li {
    float:left;
    display:block;
  }

  li:nth-child(odd) {
    clear: left;
    text-align: right;
    width: 100px;
    margin-right: 10px;
  }
}

.itemPic {
  img {
    max-width: 80px;
  }
}

.itemDesc {
  font-size: 15px;
}


#search {
  float: left;
  margin: 7px 10px;

  input {
    padding: 2px 5px;
    font-size: 1em;
    color: #000;
  }
  
  input[type='text'] {
    width: 220px;
  }
}

.tabbed_types {
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #ccc;
  border: 1px solid #fff;
  border-width: 1px 0px;

  li {
    display: inline;
    float: left;
    border-right: 1px solid #fff;
    font-weight: bold;
    padding: 0px;
    margin: 0px;

    a {
      display: block;
      padding: 6px 11px;
      text-decoration: none;
      color: #000;
      margin: 0px;
      border-left: none;
    }

    a:hover {
      background-color: #ADC3D1;
    }
  }
}