.account-basics {
  .left {
    margin: 10px;
  }
}

.profile-info {
  .title_heading {
    width: auto;
    margin-right: 15px;
  }

  ul {
    list-style: none;

    li {
      padding: 0px 15px;

      label {
        margin-left: -15px;
        color: #88068e;
      }

      textarea,input {
        width: 100%;
        margin: 0px;
        margin-bottom: 10px
      }

      textarea {
        height: 70px;
      }

      table {
        td {
          padding: 0px 5px;

          input {
            width: 35px;
          }
        }
      }
    }
  }
}

.profileBio {
  ul {
    list-style: none;
  }
}

.feed {
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:1px dotted #564b47;
    label {
        width:100px;
        display:inline-block;
    }
    input[type=text] {
        width:500px;
    }
    .destroy label {
        width:auto;
    }
    li {
        list-style:none;
        &.text {
            display:none;
        }
    }
    div, li {
        margin-bottom:10px;
    }
    .tag_box {
        padding-top:0;
        padding-bottom:0;
        padding-left:0;
        padding-right:0;
        border-bottom:none;
        ol {
            margin:0;
            padding:0;
        }
    }
}