.account-basics {
  .left {
    margin: 10px;
  }
}

.profile-info {
  .title_heading {
    width: auto;
    margin-right: 15px;
  }

  ul {
    list-style: none;

    li {
      padding: 0px 15px;

      label {
        margin-left: -15px;
        color: #88068e;
      }

      textarea,input {
        width: 100%;
        margin: 0px;
        margin-bottom: 10px
      }

      textarea {
        height: 70px;
      }

      table {
        td {
          padding: 0px 5px;

          input {
            width: 35px;
          }
        }
      }
    }
  }
}

.profileBio {
  ul {
    list-style: none;
  }
}
